.topoContatos {
    margin-bottom: 60px;
}


.linkNome {
    padding: 1rem 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: none;
    font-size: 1rem;
  }
  a:hover {
    color: white;
  }
  